@use 'index' as *;

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;

  @include breakpoint('medium') {
    padding: 3rem;
  }
}

.app-list {
  &__title {
    @include header;
  }

  &__content {
    background-color: $subtle-grey;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    max-width: 1400px;
    width: calc(100% - 2rem);
  }

  &__grid {
    @include grid;
  }

  &__grid-item {
    @include grid-item;
  }
}
