@use 'index' as *;

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;

  @include breakpoint('medium') {
    padding: 3rem;
  }
}

.app-details {
  &__title {
    @include header;
  }

  &__content {
    align-items: center;
    background-color: $subtle-grey;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    max-width: 1400px;
    width: calc(100% - 2rem);
  }

  &__image {
    width: 100%;
  }

  &__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__info-title {
    color: $primary;
    text-align: center;
  }
}
